* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.caixa-principal {
  height: 100vh;
  width: 100%;
  background-size: 30%;
  background-position: right 100px bottom 100px;
  background-repeat: no-repeat;

  z-index: 1;
}

nav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(to right, #116574, #c122f1);
  padding: 0.01% 5%;
  z-index: 1000;
}

.logo img {
  height: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.minha-foto {
  display: none;
}

li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.link-menu {
  text-decoration: none;
  color: #ffffff;

  padding: 3px 10px;
  border-radius: 8px;
  display: inline-block;
  line-height: 1.5;
  text-align: center;
}

li {
  display: inline;
  margin-right: 20px;
}

li:hover .link-menu,
.link-menu:hover {
  color: #00f929;
  border-color: #f9004d;
}

/* Contêiner principal */
.meu-nome {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

/* Contêiner do slider */
.slider {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  transition: opacity 1s ease-in-out;
}

/* Slide individual */
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  align-items: center;
  justify-content: center;
}

/* Slide ativo */
.slide.active {
  opacity: 1;
}

/* Texto sobreposto */
.slider-text {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 10;
  text-align: center;
}

/* Setas de navegação */
.prev,
.next {
  position: absolute;
  bottom: 50%;
  width: auto;
  padding: 25px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  user-select: none;
  text-align: center;

  z-index: 3;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Dots de navegação */
.nav-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  background-color: #ffffff;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #f9004d;
}

.agendar {
  text-align: center;
  margin-top: 10vh;
}

.agendar h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  margin: 0;
}

.agendar h2 span {
  display: inline;
}

.agendar h2 .fisiolife {
  color: #008000;
}

.agendar h2 .fisiolife-live {
  color: #00ff00;
}

.agendar h2 a {
  color: #f9004d;
  text-decoration: none;
  font-weight: bold;
}

.agendar h2 a:hover {
  text-decoration: underline;
}

section {
  display: flex;
  align-items: center;
  padding: 60px 10%;
  background-color: #fff;
  flex-wrap: wrap;
}

section img {
  height: 400px;
  border-radius: 50%;
  border: 2px solid #f9004d;
  margin-right: 20px;
  margin-bottom: 20px;
}
section#sobre p {
  margin-bottom: 20px;
}

section#sobre ul {
  margin-bottom: 20px;
}

section#sobre ul li {
  margin-bottom: 10px;
}
section#sobre ul li strong {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

section div h2 {
  color: #000000;
  font-size: 75px;
}

section div p {
  color: #474041;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 60px;
}

section div button {
  color: #ffffff;
  background-color: #f9004d;
  height: 50px;
  width: 180px;
  font-size: 18px;
  border: none;
  border-radius: 26px;
}

section div button:hover {
  color: #000;
  border: 3px solid #f9004d;
  transition: 0.5s;
}

/*********************************/
.projetos {
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
  text-align: center; /* Centraliza o texto e os elementos dentro da seção projetos */
}

.fundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Certifique-se de que está atrás de outros elementos */
  overflow: hidden; /* Garante que a imagem não ultrapasse a área da div */
}

.fundo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projetos h2 {
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 50px;
}

/* Estilo para o contêiner dos cartões */
.cards-projetos {
  display: grid;
  gap: 20px 1px;
  justify-items: center;
  margin-top: 100px;
}

/* Estilo para cada cartão */
.cards {
  width: 100%;
  max-width: 100%;
  height: 230px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contêiner da imagem dentro do cartão */
.cards .a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Estilo para o texto sobre a imagem */
.cards h5 {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 40px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  z-index: 1;
}
/************************************* */

.video-clinica {
  display: flex;
  gap: 20px; /* Espaçamento entre o vídeo e o mapa */
  align-items: flex-start; /* Alinha o vídeo e o mapa no topo */
}
.video iframe {
  width: 90%; /* Faz o iframe ocupar toda a largura do contêiner */
  height: 500px; /* Faz o iframe ocupar toda a altura do contêiner */
  border: 0; /* Remove a borda do iframe */
}
.video,
.map {
  flex: 1; /* Faz o vídeo e o mapa ocuparem a mesma largura */
}
.map h2 {
  margin-top: 10px;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.map a {
  text-decoration: none; /* Remove o sublinhado do link */
  color: #000; /* Define a cor padrão do texto do link */
  display: block; /* Garante que o link ocupe a largura do elemento pai */
  transition: color 0.3s; /* Adiciona uma transição suave na cor */
}

.map a:hover {
  color: #007bff; /* Cor do texto quando o mouse passa sobre o link */
}

iframe {
  max-width: 100%; /* Garante que o iframe não exceda a largura do contêiner */
  height: 500px; /* Ajusta a altura do iframe para manter a proporção */
}

/************************************* */
footer {
  background-color: #c4b7b7;
  padding-top: 100px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer h5 {
  color: #000;
  font-size: 30px;
}

footer p {
  color: #000;
  font-size: 18px;
  margin-top: 14px;
  margin-bottom: 30px;
}

.social {
  display: flex;
  gap: 20px;
}

.social img {
  height: 50px;
  border-radius: 50%;
}

.social a {
  background-color: #f9004d;
  padding: 15px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.social a:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

@media (max-width: 600px) {
  .logo img {
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .minha-foto {
    display: none;
  }

  li {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
  }

  .link-menu {
    text-decoration: none;
    color: #ffffff;

    padding: 3px 10px;
    border-radius: 8px;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
  }

  li {
    display: inline;
    margin-right: 20px;
  }

  li:hover .link-menu,
  .link-menu:hover {
    color: #00f929;
    border-color: #f9004d;
  }

  /* Contêiner principal */
  .meu-nome {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

  /* Contêiner do slider */
  .slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    transition: opacity 1s ease-in-out;
  }

  /* Slide individual */
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    align-items: center;
    justify-content: center;
  }

  /* Slide ativo */
  .slide.active {
    opacity: 1;
  }

  /* Texto sobreposto */
  .slider-text {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 10;
    text-align: center;
  }

  /* Setas de navegação */
  .prev,
  .next {
    position: absolute;
    bottom: 50%;
    width: auto;
    padding: 25px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    user-select: none;
    text-align: center;

    z-index: 3;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  /* Dots de navegação */
  .nav-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }

  .dot {
    background-color: #ffffff;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .dot.active {
    background-color: #f9004d;
  }

  .agendar {
    text-align: center;
    margin-top: 10vh;
  }

  .agendar h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 36px;
    margin: 0;
  }

  .agendar h2 span {
    display: inline;
  }

  .agendar h2 .fisiolife {
    color: #008000;
  }

  .agendar h2 .fisiolife-live {
    color: #00ff00;
  }

  .agendar h2 a {
    color: #f9004d;
    text-decoration: none;
    font-weight: bold;
  }

  .agendar h2 a:hover {
    text-decoration: underline;
  }

  section {
    display: flex;
    align-items: center;
    padding: 60px 10%;
    background-color: #fff;
    flex-wrap: wrap;
  }

  section img {
    height: 400px;
    border-radius: 50%;
    border: 2px solid #f9004d;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  section#sobre p {
    margin-bottom: 20px;
  }

  section#sobre ul {
    margin-bottom: 20px;
  }

  section#sobre ul li {
    margin-bottom: 10px;
  }
  section#sobre ul li strong {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }

  section div h2 {
    color: #000000;
    font-size: 75px;
  }

  section div p {
    color: #474041;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  section div button {
    color: #ffffff;
    background-color: #f9004d;
    height: 50px;
    width: 180px;
    font-size: 18px;
    border: none;
    border-radius: 26px;
  }

  section div button:hover {
    color: #000;
    border: 3px solid #f9004d;
    transition: 0.5s;
  }

  /*********************************/
  .projetos {
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;
    text-align: center; /* Centraliza o texto e os elementos dentro da seção projetos */
  }

  .fundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Certifique-se de que está atrás de outros elementos */
    overflow: hidden; /* Garante que a imagem não ultrapasse a área da div */
  }

  .fundo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .projetos h2 {
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 50px;
  }

  /* Estilo para o contêiner dos cartões */
  .cards-projetos {
    display: grid;
    gap: 20px 1px;
    justify-items: center;
    margin-top: 100px;
  }

  /* Estilo para cada cartão */
  .cards {
    width: 100%;
    max-width: 100%;
    height: 230px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Contêiner da imagem dentro do cartão */
  .cards .a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  /* Estilo para o texto sobre a imagem */
  .cards h5 {
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 40px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  /************************************* */

  /************************************* */
  footer {
    background-color: #c4b7b7;
    padding-top: 100px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer h5 {
    color: #000;
    font-size: 30px;
  }

  footer p {
    color: #000;
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 30px;
  }

  .social {
    display: flex;
    gap: 20px;
  }

  .social img {
    height: 50px;
    border-radius: 50%;
  }

  .social a {
    background-color: #f9004d;
    padding: 15px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }

  .social a:hover {
    transform: scale(1.3);
    transition: 0.5s;
  }
}

@media (max-width: 480px) {
  .caixa-principal {
    height: 40vh;
    width: 100%;
    background-size: 30%;
    background-position: right 100px bottom 100px;
    background-repeat: no-repeat;

    z-index: 1;
  }

  .logo img {
    height: 60px;
    margin-right: 20px;
    margin-bottom: 5px;
  }

  .minha-foto {
    display: none;
  }

  li {
    list-style: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 20px;
    cursor: pointer;
  }

  .link-menu {
    text-decoration: none;
    color: #ffffff;

    padding: 3px 10px;
    border-radius: 8px;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
  }

  li {
    display: inline;
    margin-right: 20px;
  }

  li:hover .link-menu,
  .link-menu:hover {
    color: #00f929;
    border-color: #f9004d;
  }

  /* Contêiner principal */
  .meu-nome {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  /* Contêiner do slider */
  .slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    transition: opacity 1s ease-in-out;
  }

  /* Slide individual */
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    align-items: center;
    justify-content: center;
  }

  /* Texto sobreposto */
  .slider-text {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 10;
    text-align: center;
  }
  /* Estilo para o contêiner dos cartões */
  .cards-projetos {
    display: grid;
    gap: 20px 1px;
    justify-items: center;
    margin-top: 5px;
  }

  /* Estilo para cada cartão */
  .cards {
    width: 100%;
    max-width: 100%;
    height: 80px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Contêiner da imagem dentro do cartão */
  .cards .a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  /* Estilo para o texto sobre a imagem */
  .cards h5 {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 20px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  /* Setas de navegação */
  .prev,
  .next {
    position: absolute;
    bottom: 50%;
    width: auto;
    padding: 25px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    user-select: none;
    text-align: center;

    z-index: 3;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  /* Dots de navegação */
  .nav-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }

  .dot {
    background-color: #ffffff;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .agendar {
    text-align: center;
    margin-top: 2vh;
  }

  .agendar h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 36px;
    margin: 0;
  }

  .agendar h2 a {
    color: #f9004d;
    text-decoration: none;
    font-weight: bold;
  }

  .agendar h2 a:hover {
    text-decoration: underline;
  }

  section {
    display: flex;
    align-items: center;
    padding: 15px 10%;
    background-color: #fff;
    flex-wrap: wrap;
  }

  section img {
    height: 400px;
    border-radius: 50%;
    border: 2px solid #f9004d;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  section#sobre p {
    margin-bottom: 20px;
  }

  section#sobre ul {
    margin-bottom: 20px;
  }

  section#sobre ul li {
    margin-bottom: 10px;
  }
  section#sobre ul li strong {
    display: block;
    margin-top: 5px;
    font-weight: bold;
  }

  section div h2 {
    color: #000000;
    font-size: 14px;
  }

  section div p {
    color: #474041;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  section div button {
    color: #ffffff;
    background-color: #f9004d;
    height: 30px;
    width: 130px;
    font-size: 12px;
    border: none;
    border-radius: 26px;
  }

  section div button:hover {
    color: #000;
    border: 3px solid #f9004d;
    transition: 0.5s;
  }

  /************************************* */
  /************************************* */
  footer {
    background-color: #c4b7b7;
    padding-top: 30px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer h5 {
    color: #000;
    font-size: 20px;
  }

  footer p {
    color: #000;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 20px;
    text-align: center;
  }

  .social {
    display: flex;
    gap: 15px;
  }

  .social img {
    height: 50px;
    border-radius: 50%;
  }

  .social a {
    background-color: #f9004d;
    padding: 15px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }

  .social a:hover {
    transform: scale(1.3);
    transition: 0.5s;
  }
}

@media (max-width: 360px) {
  .caixa-principal {
    height: 40vh;
    width: 100%;
    background-size: 30%;
    background-position: right 100px bottom 100px;
    background-repeat: no-repeat;

    z-index: 1;
  }

  .logo img {
    height: 60px;
    margin-right: 20px;
    margin-bottom: 5px;
  }

  .minha-foto {
    display: none;
  }

  li {
    list-style: none;
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    cursor: pointer;
  }

  .link-menu {
    text-decoration: none;
    color: #ffffff;

    padding: 3px 10px;
    border-radius: 8px;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
  }

  li {
    display: inline;
    margin-right: 20px;
  }

  li:hover .link-menu,
  .link-menu:hover {
    color: #00f929;
    border-color: #f9004d;
  }

  /* Contêiner principal */
  .meu-nome {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  /* Contêiner do slider */
  .slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    transition: opacity 1s ease-in-out;
  }

  /* Slide individual */
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    align-items: center;
    justify-content: center;
  }

  /* Texto sobreposto */
  .slider-text {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 10;
    text-align: center;
  }
  /* Estilo para o contêiner dos cartões */
  .cards-projetos {
    display: grid;
    gap: 20px 1px;
    justify-items: center;
    margin-top: 5px;
  }

  /* Estilo para cada cartão */
  .cards {
    width: 100%;
    max-width: 100%;
    height: 80px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Contêiner da imagem dentro do cartão */
  .cards .a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  /* Estilo para o texto sobre a imagem */
  .cards h5 {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 20px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  /* Setas de navegação */
  .prev,
  .next {
    position: absolute;
    bottom: 50%;
    width: auto;
    padding: 25px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    user-select: none;
    text-align: center;

    z-index: 3;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  /* Dots de navegação */
  .nav-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }

  .dot {
    background-color: #ffffff;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .agendar {
    text-align: center;
    margin-top: 2vh;
  }

  .agendar h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 36px;
    margin: 0;
  }

  .agendar h2 a {
    color: #f9004d;
    text-decoration: none;
    font-weight: bold;
  }

  .agendar h2 a:hover {
    text-decoration: underline;
  }

  section {
    display: flex;
    align-items: center;
    padding: 15px 10%;
    background-color: #fff;
    flex-wrap: wrap;
  }

  section img {
    height: 400px;
    border-radius: 50%;
    border: 2px solid #f9004d;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  section#sobre p {
    margin-bottom: 20px;
  }

  section#sobre ul {
    margin-bottom: 20px;
  }

  section#sobre ul li {
    margin-bottom: 10px;
  }
  section#sobre ul li strong {
    display: block;
    margin-top: 5px;
    font-weight: bold;
  }

  section div h2 {
    color: #000000;
    font-size: 14px;
  }

  section div p {
    color: #474041;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  section div button {
    color: #ffffff;
    background-color: #f9004d;
    height: 30px;
    width: 130px;
    font-size: 12px;
    border: none;
    border-radius: 26px;
  }

  section div button:hover {
    color: #000;
    border: 3px solid #f9004d;
    transition: 0.5s;
  }

  /************************************* */
  /************************************* */
  footer {
    background-color: #c4b7b7;
    padding-top: 30px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer h5 {
    color: #000;
    font-size: 20px;
  }

  footer p {
    color: #000;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 20px;
    text-align: center;
  }

  .social {
    display: flex;
    gap: 15px;
  }

  .social img {
    height: 50px;
    border-radius: 50%;
  }

  .social a {
    background-color: #f9004d;
    padding: 15px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }

  .social a:hover {
    transform: scale(1.3);
    transition: 0.5s;
  }
}

@media (max-width: 330px) {
  .caixa-principal {
    height: 40vh;
    width: 100%;
    background-size: 30%;
    background-position: right 100px bottom 100px;
    background-repeat: no-repeat;

    z-index: 1;
  }

  .logo img {
    height: 60px;
    margin-right: 20px;
    margin-bottom: 5px;
  }

  .minha-foto {
    display: none;
  }

  li {
    list-style: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
  }

  .link-menu {
    text-decoration: none;
    color: #ffffff;

    padding: 3px 10px;
    border-radius: 8px;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
  }

  li {
    display: inline;
    margin-right: 20px;
  }

  li:hover .link-menu,
  .link-menu:hover {
    color: #00f929;
    border-color: #f9004d;
  }

  /* Contêiner principal */
  .meu-nome {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  /* Contêiner do slider */
  .slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    transition: opacity 1s ease-in-out;
  }

  /* Slide individual */
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    align-items: center;
    justify-content: center;
  }

  /* Texto sobreposto */
  .slider-text {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 10;
    text-align: center;
  }
  /* Estilo para o contêiner dos cartões */
  .cards-projetos {
    display: grid;
    gap: 20px 1px;
    justify-items: center;
    margin-top: 5px;
  }

  /* Estilo para cada cartão */
  .cards {
    width: 100%;
    max-width: 100%;
    height: 80px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Contêiner da imagem dentro do cartão */
  .cards .a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  /* Estilo para o texto sobre a imagem */
  .cards h5 {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 20px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  /* Setas de navegação */
  .prev,
  .next {
    position: absolute;
    bottom: 50%;
    width: auto;
    padding: 25px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    user-select: none;
    text-align: center;

    z-index: 3;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  /* Dots de navegação */
  .nav-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }

  .dot {
    background-color: #ffffff;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .agendar {
    text-align: center;
    margin-top: 2vh;
  }

  .agendar h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 36px;
    margin: 0;
  }

  .agendar h2 a {
    color: #f9004d;
    text-decoration: none;
    font-weight: bold;
  }

  .agendar h2 a:hover {
    text-decoration: underline;
  }

  section {
    display: flex;
    align-items: center;
    padding: 15px 10%;
    background-color: #fff;
    flex-wrap: wrap;
  }

  section img {
    height: 400px;
    border-radius: 50%;
    border: 2px solid #f9004d;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  section#sobre p {
    margin-bottom: 20px;
  }

  section#sobre ul {
    margin-bottom: 20px;
  }

  section#sobre ul li {
    margin-bottom: 10px;
  }
  section#sobre ul li strong {
    display: block;
    margin-top: 5px;
    font-weight: bold;
  }

  section div h2 {
    color: #000000;
    font-size: 14px;
  }

  section div p {
    color: #474041;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  section div button {
    color: #ffffff;
    background-color: #f9004d;
    height: 30px;
    width: 130px;
    font-size: 12px;
    border: none;
    border-radius: 26px;
  }

  section div button:hover {
    color: #000;
    border: 3px solid #f9004d;
    transition: 0.5s;
  }

  /************************************* */
  /************************************* */
  footer {
    background-color: #c4b7b7;
    padding-top: 30px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer h5 {
    color: #000;
    font-size: 20px;
  }

  footer p {
    color: #000;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 20px;
    text-align: center;
  }

  .social {
    display: flex;
    gap: 15px;
  }

  .social img {
    height: 50px;
    border-radius: 50%;
  }

  .social a {
    background-color: #f9004d;
    padding: 15px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }

  .social a:hover {
    transform: scale(1.3);
    transition: 0.5s;
  }
}
